
@{
    ViewData["Title"] = "TimKiem";
}

<h1>Tìm Kiếm</h1>
<form asp-action="XuLyTimKiem">
    Cần tìm: <input name="TuKhoa" />
    Giá từ: <input name="GiaTu" />
    đến: <input name="GiaDen" />
    <button>Tìm</button>
</form>

