
@{
    ViewData["Title"] = "JsonSearch";
}

<h1>Json Search</h1>
<fieldset>
    Tìm theo tên: <input id="TuKhoa" /><br />
    Giá từ: <input type="number" id="GiaTu" />
    đến: <input type="number" id="GiaDen" />
    <button id="TimKiem" type="button">Tìm kiếm</button>
</fieldset>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Hình</th>
            <th>Hàng hóa</th>
            <th>Giá</th>
            <th>Loại</th>
        </tr>
    </thead>
    <tbody id="result"></tbody>
</table>

@section Scripts{ 
<script>
    $(document).ready(function () {
        $("#TimKiem").click(function () {
            $.ajax({
                url: "/Ajax/JsonSearch",
                type: "POST",
                data: {
                    TuKhoa: $("#TuKhoa").val().trim(),
                    GiaTu: $("#GiaTu").val(),
                    GiaDen: $("#GiaDen").val()
                },
                success: function (response) {
                    //console.log(response);
                    //Xóa dữ liệu đang có
                    $("#result").html("");

                    //duyệt qua kết quả trả về để dựng thêm các dòng
                    $(response).each(function (index, hangHoa) {
                        let row = $("<tr/>");
                        $("<td/>").html(index + 1).appendTo(row);

                        let hinh = $("<img />").attr("src", "/Hinh/HangHoa/" + hangHoa.hinh);
                        //hinh.addClass("hinhCss");
                        hinh.css({"height":"80"});
                        $("<td/>").append(hinh).appendTo(row);

                        $("<td/>").html(hangHoa.tenHh).appendTo(row);
                        $("<td/>").html(hangHoa.donGia).appendTo(row);
                        $("<td/>").html(hangHoa.loai).appendTo(row);

                        $("#result").append(row);
                    });
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        });
    });
</script>
}