
@{
    ViewData["Title"] = "DoanhThuThang";
}

<h1>Doanh Thu Tháng</h1>

<canvas id="pie-chart" width="800" height="450"></canvas>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
        $(document).ready(function () {
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: ['Mỹ', 'Úc', 'Nhật'],
                    datasets: [{
                        label: "Dân số (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f"],
                        data: [2478, 5267, 734]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Dự đoán dân số (millions) năm 2050'
                    }
                }
            });
        });
    </script>
}