@model IEnumerable<MyStoreDbFirst.ViewModels.LoaiThongKe>
@{
    ViewData["Title"] = "DoanhThuThang";
    var dsTenLoai = Model.Select(lo => lo.Loai).ToList();
    var dsDoanhThu = Model.Select(lo => lo.DoanhThu).ToList();
}
<div>@string.Join("', '", dsTenLoai)</div>
<div>@string.Join(", ", dsDoanhThu)</div>
<h1>Doanh Thu Tháng</h1>

<canvas id="pie-chart" width="800" height="450"></canvas>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
        $(document).ready(function () {
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    //labels: ['Mỹ', 'Úc', 'Nhật'],
                    labels:['@Html.Raw(string.Join("', '", dsTenLoai))'],
                    datasets: [{
                        label: "Dân số (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "red", "green", "yellow"],
                        //data: [2478, 5267, 734]
                        data: [@string.Join(", ", dsDoanhThu)]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Dự đoán dân số (millions) năm 2050'
                    }
                }
            });
        });
    </script>
}