@model Buoi08_MVC.Models.SinhVien

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>SinhVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSinhVien" class="control-label"></label>
                <input asp-for="MaSinhVien" class="form-control" />
                <span asp-validation-for="MaSinhVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemSo" class="control-label"></label>
                <input asp-for="DiemSo" class="form-control" />
                <span asp-validation-for="DiemSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ghi file text" class="btn btn-primary" name="GhiFile" />
                <input type="submit" value="Ghi file JSON" class="btn btn-primary" name="GhiFile" />
            </div>
                <a class="btn btn-success" 
                   asp-action="DocFile"
                   asp-route-loai="text">Đọc file text</a>
                <a class="btn btn-success"
                   asp-action="DocFile"
                   asp-route-loai="json">Đọc file JSON</a>
        </form>
    </div>
</div>


